p{
	font-family:calibri;
}	

h1{
	font-family:Segoe UI;
	color:#B72304;
	font-size:3em;
	letter-spacing: 0.3em;
	word-spacing: 1.0em;
	text-align:center;
}

h2{
	font-family:Segoe UI;
	text-align:center;
}

fieldset {
border:3px groove darkblue; /* Borde */
border-radius:24px;
}
legend {
text-align:left; /* Puedes cambiarlo por center o right */
font-family:Segoe UI; /* Estilo de la fuente del título */
color:orange; /* Color del título */
}

.centrado{
	text-align:center;
}